.card_front {
  background-color: #dbd7d661;
  width: 56rem;
  margin-left: 24rem;
  padding-left: 13rem;
  padding-right: 0rem;
  padding-top: 1rem;
  border: 1px solid #dbd7d661;
  border-radius: 34px;
  transition: all 0.3s ease;
  margin-top: 3rem;
}
.card_front:hover {
  transform: scale(1.011, 1.011);
}

.icon {
  color: #13401e;
  font-size: 24px;
  margin-top: -1.7rem;
  margin-left: 3.68rem;
}

.icon1 {
  margin-left: 6rem;
  color: #b0126b;
}

.PageLayout {
  height: 100vh;
  width: 100wh;
  background-color: rgb(146, 194, 115);
}

.header {
  position: fixed;
  z-index: 1;
  /* width: '100%'; */
}

.menu {
  justify-content: center;

  background-color: rgb(197, 226, 226);
}

.content {
  height: 100vh;
  width: 100wh;
  background-color: rgb(126, 82, 93);
}

.ant-form-item-city {
  box-sizing: border-box;
  margin: 45px;
  padding: 7px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: -7.4285;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  margin-bottom: 24px;
  vertical-align: top;
  transition: margin-bottom 0.3s 0.017s linear;
  margin-left: 95px;
}

.ant-form-item-blood {
  box-sizing: border-box;
  margin: 45px;
  padding: 7px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: -7.4285;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  margin-bottom: 24px;
  vertical-align: top;
  transition: margin-bottom 0.3s 0.017s linear;
}

.query_result {
  align-content: center;
  margin-top: 53px;
  border: 1px solid #c51616;
  border-radius: 34px;
  transition: all 0.3s ease;
  background-color: #bcc6cf;
  width: 50%;
  height: 30%;
  margin-left: 21rem;
  margin-top: 2rem;
}

.query_result:hover {
  /* width: 1300px;
	height: 300px; */
  transform: scale(1.041, 1.041);
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.query_result_name {
  font-weight: bold;
  font-size: x-large;
  transition: all 0.5s ease;
  margin-left: 10rem;
}
.query_result_name:hover {
  /* font-weight: bolder; */
  font-size: xx-large;
}

.query-result-email {
  font-weight: bold;
  font-size: x-large;
  transition: all 0.5s ease;
  margin-left: 10rem;
}
.query-result-email:hover {
  /* font-weight: bolder; */
  font-size: xx-large;
}
.query-result-phone {
  font-weight: bold;
  font-size: x-large;
  transition: all 0.5s ease;
  margin-left: 10rem;
}
.query-result-phone:hover {
  /* font-weight: bolder; */
  font-size: xx-large;
}
.query-result-location {
  font-weight: bold;
  font-size: x-large;
  transition: all 0.5s ease;
  margin-left: 10rem;
}
.query-result-location:hover {
  /* font-weight: bolder; */
  font-size: xx-large;
}

.search {
  background-color: #d2e9d3;
  border: none;
  color: rgba(124, 160, 69, 0.8);
  padding: 12px 32px 11px 23px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 140px;
  height: 51px;
  width: 131px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;

  color: rgb(46, 42, 42);
  border: 2px solid #4caf50;
}

.search:hover {
  background-color: rgba(173, 235, 144, 0.692);
  color: black;
}

.no_one {
  color: red;
  font-size: 2.4rem;
  margin-left: 40rem;
}
